# Introduction To Data Science â€“ Assignment 1

---

### Sections A â€“ B â€“ C â€“ D

---

***Instructions***

Due Date: Sunday 18th September 2022 â€“ 11:59PM

Name the file in the format Lyyxxxx and save it as .ipynb (e.g. L201234.ipynb)

Submission will be taken on **GitHub and Google Classroom (submit the .ipynb file)** - Instructions to upload onto GitHub are provided in the link https://docs.google.com/document/d/1BR1ULOGeGWJVU6Rr6Qty1FR-quVRZyRvQGII6nEs-wo/edit?usp=sharing

After uploading and submitting the .ipynb file onto Google Classroom, also private comment the link to the GitHub repository.

All source files needed to complete this assignment can be found on the following Google Drive link https://drive.google.com/drive/folders/1VrkaVcExGWqilSeh50WZe4gUBjmUiJ9b?usp=sharing

TA Emails

Section A, C - Muhammad Maarij l192347@lhr.nu.edu.pk

Section B, D - Hira Ijaz l192377@lhr.nu.edu.pk

Happy Coding ðŸ˜Š

---

---
## Question 1
---

Define a procedure called "check_input" that takes an input as a square list of lists (2D Matrix of N x N) and returns a boolen "true" if the input is valid or "false" otherwise, according to the following criteria.

1. Each coloumn must contain numbers from between 1 and N, with no duplicates.
2. Each row must contain numbers from between 1 and N, with no duplicates.

In [ ]:
# define procedure here
column_size = int(input("Enter size of column: "))
row_size = int(input("Enter size of row: "))
a = []
if row_size==column_size :
   print("true")
 for i in range(0, row_size):
          b = []  
for j in range(0, column_size):
 if row_size==column_size :
  print("true")
  print("Input {0} {1} element of 2d array".format(i, j))
 temp = int(input())
 b.append(temp)
 a.append(b)
 else : 


 print("False")
print("Print 2D a4rray: ", a)

In [ ]:
# run this block to test code after defining the procedure

test1 = [[1, 2, 3],
        [2, 3, 1],
        [3, 1, 2]]

test2 = [[1, 2, 3, 4],
        [2, 3, 1, 3],
        [3, 1, 2, 3],
        [4, 4, 4, 4]]

test3 = [['a', 'b', 'c'],
        ['b', 'c', 'a'],
        ['c', 'a', 'b']]

print(check_input(test1)) # must return true
print(check_input(test2)) # must return false
print(check_input(test3)) # must return false

---
## Question 2
---

**Part A** - Import the file "StudentMarkSheet.csv" as a Pandas DataFrame and print the information for the dataframe

In [4]:
!wget https://drive.google.com/file/d/15Mi7J35JQ3kqZTSb5EVKbK4-6G5wEpwJ/view?usp=sharing

--2022-09-18 17:50:24--  https://drive.google.com/file/d/15Mi7J35JQ3kqZTSb5EVKbK4-6G5wEpwJ/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 74.125.139.138, 74.125.139.101, 74.125.139.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.139.138|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: â€˜view?usp=sharingâ€™

view?usp=sharing        [ <=>                ]  66.25K  --.-KB/s    in 0.004s

2022-09-18 17:50:24 (16.5 MB/s) - â€˜view?usp=sharingâ€™ saved [67840]

In [5]:
import pandas as pd
data = pd.read_csv("StudentMarkSheet.csv")
data

        Student name  Exam name   Exam date  Marks
0       James Walker    Biology  05/06/2016   31.0
1      Velma Clemons    Biology  05/06/2016   43.0
2     Kibo Underwood    Biology  05/06/2016   81.0
3        Louis Mcgee    Biology  05/06/2016   11.0
4       Phyllis Paul    Biology  05/06/2016   18.0
..               ...        ...         ...    ...
195       Yen Bowers  Sociology  21/06/2016   52.0
196        Ryan Pena  Sociology  21/06/2016   16.0
197  Portia Hamilton  Sociology  21/06/2016   34.0
198  Sydnee Chambers  Sociology  21/06/2016   76.0
199      Stacy Small  Sociology  21/06/2016   96.0

[200 rows x 4 columns]

**Part B** - Remove any rows that do not contain all the data. Also print the following information.

1. Number of rows before
2. Number of rows containing null data
3. Number of rows after

In [ ]:
data = pd.read_csv("StudentMarkSheet.csv")
for x in 200:
if Marks == 0:
  count = count+1
{
del (Exam name)
del (Exam date)
del (Marks)
}
print("number of rows before = ", 200)
print("number of rows containing null data = ", count)
print("number of rows after = ", 200 - count)

**Part C** - Print all the marks along with the subject for the student named "James Walker"

In [ ]:
data = pd.read_csv("StudentMarkSheet.csv")
if Student name == "James Walker":
print (data)

---
## Question 3
---

**Part A** - From the DataFrame created in Question 2, calculate the average marks for each subject

In [ ]:
import pandas as pd
data = pd.read_csv("StudentMarkSheet.csv")
print("Biology average :", data.loc["Biology"].mean)
print("Chemistry average :", data.loc["Chemistry"].mean)
print("Mathematics average :", data.loc["Mathetics"].mean)
print("Philosophy average :", data.loc["Philosopy"].mean)
print("Physics average :", data.loc["Physics"].mean)
print("Sociology average :", data.loc["sociology"].mean)

**Part B** - Using the averages you just calculated, plot a Bar Graph showing the average marks of each subject

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.array(["Biology", "Chemistry", "Mathematics", "Philosopy", "Physics", "Sociology"])
y = np.array([35, 56, 67, 44, 25, 68])

plt.bar(x,y)
plt.show()

---
## Question 4
---

**Part A** - Import the file "CatData.csv" and preprocess it to remove any null values

In [6]:
!wget https://drive.google.com/file/d/1d_3c7iD2wF59yXPTB5pWNFSjdYi5mSGG/view?usp=sharing

--2022-09-18 18:07:06--  https://drive.google.com/file/d/1d_3c7iD2wF59yXPTB5pWNFSjdYi5mSGG/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 142.251.107.102, 142.251.107.138, 142.251.107.101, ...
Connecting to drive.google.com (drive.google.com)|142.251.107.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: â€˜view?usp=sharingâ€™

view?usp=sharing        [ <=>                ]  66.20K  --.-KB/s    in 0.003s

2022-09-18 18:07:07 (23.7 MB/s) - â€˜view?usp=sharingâ€™ saved [67790]

In [7]:
import pandas as p
data = pd.read_csv("CatData.csv")
data

     Tail Length (cm)  Mass (kg)
0                18.1      3.750
1                18.6      3.800
2                19.5      3.250
3                19.3      3.450
4                19.0      3.650
..                ...        ...
337              20.7      4.000
338              20.2      3.400
339              19.3      3.775
340              21.0      4.100
341              19.8      3.775

[342 rows x 2 columns]

**Part B** - Identify the independant and dependant variables (comment answer below)

In [ ]:
# dependant variable: mass (kg)
# independant variable: tail length (cm)

**Part C** - Create a linear regression model using sklearn and fit it to the data you just imported

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df = pd.read_csv('CatData.csv')
df_binary = df[['Tail Length', 'Mass']]
  
# Taking only the selected two attributes from the dataset
df_binary.columns = ['Tail Length', 'Mass']
#display the first 5 rows
df_binary.head()

KeyError: ignored

**Part D** - Print the values for slope and y-intercept

**Part E** - Plot a scatter graph of the original data and a regression line on the same figure (example with dummy data shown below)

![](https://drive.google.com/uc?export=view&id=1o_NAsNjfx7zAh9m-UjvWB3rta6uraKdY)